<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple HTML Form</title>
</head>
<body>

    <form  method="POST">
        <div>
            <label for="userName">Name:</label>
            <input type="text" id="userName" name="name" required>
        </div>
        
        <br>
        <div>
            <label for="userEmail">Email:</label>
            <input type="email" id="userEmail" name="email" required>
        </div>

        <br>
        <div>
            <button type="submit">Submit Data</button>
        </div>

    </form>

</body>
</html>
